/* HERO */

#hero {

  max-height: 180px;

  display: flex;
  flex-flow: column;

  text-align: center;

  padding: 0.5rem 0;
  margin: 0;
  
  background: var(--color-redc);
  color: var(--color-whity);

  transition: font-size 0.5s ease-in-out;

  h1 {    
    margin: 0;
    font-size: 2rem;
  }

  h2 {    
    margin: 0;

    font-size: 1rem;
    font-weight: 100;
  }
  
}

#hero:hover {

  transition: font-size 1s ease-in-out;

  h1 {
    font-size: 1.9rem;  
  }

  h2 {
    font-size: 0.9rem;  
  }  
}

/* #####################################################-RESPONSIVE */

/* ---------------------------------------------------------------- */

@media(max-width: 940px) {

  #hero {    

    h1 {
      font-size: 1.8rem;  
    }

    h2 {
      font-size: 0.8rem;  
    }  
  }

  #hero:hover {

    h1 {
      font-size: 1.7rem;  
    }

    h2 {
      font-size: 0.7rem;  
    }  
  }

}

/* ---------------------------------------------------------------- */

@media(max-width: 750px) {

  #hero {    

    h1 {
      font-size: 1.6rem;  
    }

    h2 {
      font-size: 0.6rem;  
    }  
  }

  #hero:hover {

    h1 {
      font-size: 1.5rem;  
    }

    h2 {
      font-size: 0.5rem;  
    }  
  }

}

/* ---------------------------------------------------------------- */

@media(max-width: 560px) {

  #hero {    

    h1 {
      font-size: 1.5rem;  
    }

    h2 {
      font-size: 0.5rem;  
    }  
  }

  #hero:hover {

    h1 {
      font-size: 1.3rem;  
    }

    h2 {
      font-size: 0.3rem;  
    }  
  }
}

/* ---------------------------------------------------------------- */

@media(max-width: 470px) {

  #hero {    

    h1 {
      font-size: 1.4rem;  
    }

    h2 {
      font-size: 0.4rem;  
    }  
  }

  #hero:hover {

    h1 {
      font-size: 1.2rem;  
    }

    h2 {
      font-size: 0.2rem;  
    }  
  }
}