/* LOGO */

#logo-id {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  justify-content: space-between;

  gap: 1rem;
  padding: 1rem;

  background-color: var(--color-blacky);
}

#logo-img {
  width: 8rem;
  padding-right: 1rem;
}

#dark-toggle {
  width: 24px;
  height: 24px;

  border-radius: 100%;
  border: none;
  
  background: var(--color-whity);
  color: #000;

  cursor: none;

  font-size: .6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: .15rem;

  transition: background 0.3s ease, transform 0.2s ease;
}

#dark-toggle:hover {  
  background: #0a2186;
  transform: scale(1.1);
}

/* #####################################################-RESPONSIVE */

@media(max-width: 660px) {
  #logo-img {    
    width: 7rem; 
  }
}

/* ---------------------------------------------------------------- */

@media(max-width: 470px) {
  #logo-img {    
    width: 6rem; 
  }
}

/* ---------------------------------------------------------------- */

@media(max-width: 280px) {
  #logo-img {    
    width: 5rem; 
  }
}

/* ---------------------------------------------------------------- */

@media(max-width: 180px) {
  #logo-img {    
    width: 4rem; 
  }
}